PORT=8080
INTERNAL_BIGSTORE_SECRET=dev_bigstore_secret_change_in_production_32bytes_min
SQLITE_BIGSTORE_PATH=/data/databases/bigstore.sqlite
BIGSTORE_STORAGE_ROOT=/data/files
DEFAULT_STORAGE_QUOTA_BYTES=53687091200
